<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Strona główna</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- <div class="container">
            <div class="content"> -->
                <header>
                    <a href="{{url_for('kontakt')}}"><button class="buttons">KONTAKT</button></a>
                </header>
                <main>
                    <p>CIĄGI ARYTMETYCZNE <br> I GEOMETRYCZNE</p>
                    <article>
                        DROGI UŻYTKOWNIKU,<br>
                        CIESZYMY SIĘ, ŻE WPADŁEŚ NA NASZĄ STRONĘ. <br>
                        POMOŻEMY CI ZROZUMIEĆ ZAGADNIENIA DOTYCZĄCE <br>
                        CIĄGÓW ARYTMETYCZNYCH I GEOMETRYCZNYCH.<br> 
                        DZIĘKI NASZEJ APLIKACJI ZDOŁASZ <br>
                        POLICZYĆ SUMĘ DANYCH CIĄGÓW, <br>
                        NARYSOWAĆ WYKRES CZY WYŚWIETLIĆ <br>
                        POCZĄTKOWE WYRAZY.
                    </article>
                    <section>
                        <a href="{{url_for('arytmetyczny')}}"><button class="buttons">CIĄG ARYTMETYCZNY</button></a>
                        <a href="{{url_for('geometryczny')}}"><button class="buttons">CIĄG GEOMETRYCZNY</button></a>
                        <a href="{{url_for('dowolny')}}"><button class="buttons">CIĄG DOWOLNY</button></a>
                    </section>
                </main>
                <footer>
                    <hr>
                    <div class="author">
                    <!-- <hr> -->
                    <p id="Kasia">@Katarzyna Karbowska</p>
                    <p id="Hania">@Hanna Tłusty</p>
                    </div>
                </footer>
            <!-- </div>    
        </div> -->
        <div class="gradient"></div>
       

    </body>
</html>