<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Kontakt</title>
        <link rel="stylesheet" href="{{url_for('static', filename='contactStyle.css')}}">
    </head>
    <body>
            <header>
                <p>Kontakt</p>
                <img src="../static/contact-us.png" alt="logoKontakt">
            </header>
            <main>
                <p id="Kasia1">Katarzyna Karbowska</p>
                <p id="KasiaMeil">268879@student.pwr.edu.pl</p>
                <p id="Hania1">Hanna Tłusty</p>
                <p id="HaniaMeil">268822@student.pwr.edu.pl</p>
                <p id="adres">
                    Wydział Matematyki<br>
                    Wybrzeże Wyspiańskiego 27<br>
                    50-370 Wrocław<br>
                </p>
            </main>
            <footer>
                <hr>
                <div class="author">
                <!-- <hr> -->
                <p id="Kasia2">@Katarzyna Karbowska</p>
                <p id="Hania2">@Hanna Tłusty</p>
                </div>
            </footer>
            <div class="gradient"></div>
    </body>
</html>